<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.nicespring.dao.BuildingMapper">
  <resultMap id="BaseResultMap" type="com.moyu.nicespring.entity.Building">
    <id column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="building_introduction" jdbcType="VARCHAR" property="buildingIntroduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    building_id, building_name, building_introduction
  </sql>
  <select id="selectPrimaryKey"   resultType="java.lang.Integer">
    select
    building_id
    from building

  </select>
  <select id="selectByExample" parameterType="com.moyu.nicespring.entity.BuildingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from building
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from building
    where building_id = #{buildingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from building
    where building_id = #{buildingId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moyu.nicespring.entity.BuildingExample">
    delete from building
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moyu.nicespring.entity.Building">
    insert into building (building_id, building_name, building_introduction
      )
    values (#{buildingId,jdbcType=INTEGER}, #{buildingName,jdbcType=VARCHAR}, #{buildingIntroduction,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moyu.nicespring.entity.Building">
    insert into building
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buildingId != null">
        building_id,
      </if>
      <if test="buildingName != null">
        building_name,
      </if>
      <if test="buildingIntroduction != null">
        building_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buildingId != null">
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="buildingName != null">
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingIntroduction != null">
        #{buildingIntroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moyu.nicespring.entity.BuildingExample" resultType="java.lang.Long">
    select count(*) from building
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update building
    <set>
      <if test="record.buildingId != null">
        building_id = #{record.buildingId,jdbcType=INTEGER},
      </if>
      <if test="record.buildingName != null">
        building_name = #{record.buildingName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingIntroduction != null">
        building_introduction = #{record.buildingIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update building
    set building_id = #{record.buildingId,jdbcType=INTEGER},
      building_name = #{record.buildingName,jdbcType=VARCHAR},
      building_introduction = #{record.buildingIntroduction,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moyu.nicespring.entity.Building">
    update building
    <set>
      <if test="buildingName != null">
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingIntroduction != null">
        building_introduction = #{buildingIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where building_id = #{buildingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moyu.nicespring.entity.Building">
    update building
    set building_name = #{buildingName,jdbcType=VARCHAR},
      building_introduction = #{buildingIntroduction,jdbcType=VARCHAR}
    where building_id = #{buildingId,jdbcType=INTEGER}
  </update>
</mapper>