<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>DMS</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadStudentAll</servlet-name>
		<display-name>ReadStudentAll</display-name>
		<description></description>
		<servlet-class>servlet.ReadStudentAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewStudent</servlet-name>
		<display-name>AddNewStudent</display-name>
		<description></description>
		<servlet-class>servlet.AddNewStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExchangeServlet</servlet-name>
		<display-name>ExchangeServlet</display-name>
		<description></description>
		<servlet-class>servlet.ExchangeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExchangeStudent</servlet-name>
		<display-name>ExchangeStudent</display-name>
		<description></description>
		<servlet-class>servlet.ExchangeStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteStudent</servlet-name>
		<display-name>DeleteStudent</display-name>
		<description></description>
		<servlet-class>servlet.DeleteStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchStudent</servlet-name>
		<display-name>SearchStudent</display-name>
		<description></description>
		<servlet-class>servlet.SearchStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentFindElectric</servlet-name>
		<display-name>StudentFindElectric</display-name>
		<description></description>
		<servlet-class>servlet.StudentFindElectric</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadMaintainAll</servlet-name>
		<display-name>ReadMaintainAll</display-name>
		<description></description>
		<servlet-class>servlet.ReadMaintainAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewMaintain</servlet-name>
		<display-name>AddNewMaintain</display-name>
		<description></description>
		<servlet-class>servlet.AddNewMaintain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExchangeMaintain</servlet-name>
		<display-name>ExchangeMaintain</display-name>
		<description></description>
		<servlet-class>servlet.ExchangeMaintain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchMaintain</servlet-name>
		<display-name>SearchMaintain</display-name>
		<description></description>
		<servlet-class>servlet.SearchMaintain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadOutAll</servlet-name>
		<display-name>ReadOutAll</display-name>
		<description></description>
		<servlet-class>servlet.ReadOutAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewOut</servlet-name>
		<display-name>AddNewOut</display-name>
		<description></description>
		<servlet-class>servlet.AddNewOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchOut</servlet-name>
		<display-name>SearchOut</display-name>
		<description></description>
		<servlet-class>servlet.SearchOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadPowerAll</servlet-name>
		<display-name>ReadPowerAll</display-name>
		<description></description>
		<servlet-class>servlet.ReadPowerAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewPower</servlet-name>
		<display-name>AddNewPower</display-name>
		<description></description>
		<servlet-class>servlet.AddNewPower</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePower</servlet-name>
		<display-name>DeletePower</display-name>
		<description></description>
		<servlet-class>servlet.DeletePower</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExchangePower</servlet-name>
		<display-name>ExchangePower</display-name>
		<description></description>
		<servlet-class>servlet.ExchangePower</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchPower</servlet-name>
		<display-name>SearchPower</display-name>
		<description></description>
		<servlet-class>servlet.SearchPower</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StuGetPower</servlet-name>
		<display-name>StuGetPower</display-name>
		<description></description>
		<servlet-class>servlet.StuGetPower</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StuGetMaintain</servlet-name>
		<display-name>StuGetMaintain</display-name>
		<description></description>
		<servlet-class>servlet.StuGetMaintain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StuAddMaintain</servlet-name>
		<display-name>StuAddMaintain</display-name>
		<description></description>
		<servlet-class>servlet.StuAddMaintain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StuGetOut</servlet-name>
		<display-name>StuGetOut</display-name>
		<description></description>
		<servlet-class>servlet.StuGetOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StuAddOut</servlet-name>
		<display-name>StuAddOut</display-name>
		<description></description>
		<servlet-class>servlet.StuAddOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadStudentAll</servlet-name>
		<url-pattern>/ReadStudentAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewStudent</servlet-name>
		<url-pattern>/AddNewStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExchangeServlet</servlet-name>
		<url-pattern>/ExchangeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExchangeStudent</servlet-name>
		<url-pattern>/ExchangeStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudent</servlet-name>
		<url-pattern>/DeleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchStudent</servlet-name>
		<url-pattern>/SearchStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentFindElectric</servlet-name>
		<url-pattern>/StudentFindElectric</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadMaintainAll</servlet-name>
		<url-pattern>/ReadMaintainAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewMaintain</servlet-name>
		<url-pattern>/AddNewMaintain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExchangeMaintain</servlet-name>
		<url-pattern>/ExchangeMaintain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchMaintain</servlet-name>
		<url-pattern>/SearchMaintain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadOutAll</servlet-name>
		<url-pattern>/ReadOutAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewOut</servlet-name>
		<url-pattern>/AddNewOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchOut</servlet-name>
		<url-pattern>/SearchOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPowerAll</servlet-name>
		<url-pattern>/ReadPowerAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewPower</servlet-name>
		<url-pattern>/AddNewPower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePower</servlet-name>
		<url-pattern>/DeletePower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExchangePower</servlet-name>
		<url-pattern>/ExchangePower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchPower</servlet-name>
		<url-pattern>/SearchPower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuGetPower</servlet-name>
		<url-pattern>/StuGetPower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuGetMaintain</servlet-name>
		<url-pattern>/StuGetMaintain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuAddMaintain</servlet-name>
		<url-pattern>/StuAddMaintain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuGetOut</servlet-name>
		<url-pattern>/StuGetOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuAddOut</servlet-name>
		<url-pattern>/StuAddOut</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
